/* FONT FOR BODY TEXT*/
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
/* FONT FOR H1 (LOGO) TEXT */
@font-face {
  font-family: "MarcellusSC-Regular";
  src: url("../fonts/MarcellusSC-Regular.ttf");
}
/* COLOR PALETTE */
:root {
  --white: #F7F1F0;
  --cream: #E9C1AF;
  --blue: #1F3E59;
  --dark-blue: #1A3246;
  --green: #478647;
  --red: #D05050;
}

#content {
  display: flex;
  height: 100vh;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  color: var(--blue);
}

/* SIDE FORM STYLE */
#side-form {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 30px;
  background-color: var(--cream);
}

/* COLOR FOR LIBRARY LOGO */
.theme-books {
  --fa-secondary-color: var(--white);
  --fa-secondary-opacity: 1.0;
}
#logo {
  margin: 0 0 40px 0;
  font-family: "MarcellusSC-Regular", "Times New Roman", Georgia, Serif;
  font-size: 55px;
  color: var(--blue);
  text-align: center;
}

#name,
#title,
#number {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0 5px 0;
  background-color: var(--cream);
  border: none;
  border-bottom: 2px dotted var(--blue);;
  color: var(--blue);
}
#name:focus,
#title:focus,
#number:focus {
  outline: none;
}

/* STYLE FOR FLOATING INPUT PLACEHOLDER */
div.input-block {
  position: relative;
}
div.input-block span.placeholder {
  position: absolute;
  margin: 17px 0;
  left: 0px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
}
div.input-block input:focus {
  border-bottom: 2px dotted var(--white) !important;
}

/* STYLE FOR NUMBER INPUT */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* STYLE FOR CHECKBOX INPUT */
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 5px;
  margin: 20px 0;
}
.checkbox-input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}
.checkbox-control {
  display: inline-grid;
  align-self: center;
  width: 1em;
  height: 1em;
  border: 1px solid;
  border-radius: 2px;
}
.checkbox-input {
  display: grid;
  grid-template-areas: "checkbox";
}
.checkbox-input > * {
  grid-area: checkbox;
}
.checkbox-control svg {
  opacity: 0;
}
.checkbox-input input:checked
 + .checkbox-control svg {
  opacity: 1;
  background-color: var(--blue);
  color: var(--white);
}

/* STYLE FOR 'ADD BOOK' BUTTON  */
#add-book {
  width: 200px;
  height: 50px;
  margin-top: 15px;
  border: 1px solid var(--blue);
  border-radius: 2px;
  background-color: var(--blue);
  color: var(--white);
  transition: 0.5s;
}
#add-book:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
  transition: 0.5s;
}

#footer {
  position: absolute;
  bottom: 30px;
}
#crafted-by {
  margin-bottom: 0;
}
/* STYLE FOR TOOLTIP */
.project-info .tooltip-text {
  visibility: hidden;
  padding: 10px;
  position: absolute;
  background-color: var(--blue);
  text-align: center;
  color: var(--white);
  border-radius: 2px;
  z-index: 1;
  bottom: 100%;
}
.project-info:hover .tooltip-text {
  visibility: visible;
}
#footer a {
  text-decoration: none;
  color: #1F3E59;
  font-weight: 900;
}

/* BOOKS LIST STYLE */
#library-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 360px);
  padding: 30px;
  background-color: var(--white);
}
#library-info {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
#library-info p {
  font-size: 20px;
  font-weight: 900;
}
#books-list {
  width: 70%;
  border-collapse: collapse;
}
#books-list td {
  padding: 25px;
}
#book-requirements {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 900;
}
.book-info {
  border-bottom: 2px dotted var(--blue);
}
.book-info button {
  border: none;
  font-size: 20px;
  background-color: transparent;
  padding: 0;
}
.book-info button:hover {
  cursor: pointer;
}
.fa-check {
  color: var(--green);
}
.fa-times {
  color: var(--red);
}
.fa-trash-alt {
  color: var(--red);
}
